<div class="molecule card">
    {{#if image}}{{#if link}}<a href="{{link}}">{{/if}}
    {{> molecules/image}}
    {{/if}}{{#if link}}</a>{{/if}}
    <div class="text">
        {{#if title}}
        <div class="title">
            <h3>
            {{#if link}}<a href="{{link}}">{{/if}}
            {{title}}
            {{#if link}}</a>{{/if}}
            </h3>
        </div><!--/title-->
        {{/if}}
        {{#if description}}
        <div class="body">
            {{{description}}}
        </div><!--/body-->
        {{/if}}
    </div><!--/text-->
    {{> atoms/button}}
</div><!--/card-->