{{#if form}}
    <div class="form molecule">
        <div class="title">
            {{#if form_title}}
            <h2>{{form_title}}</h2>
            {{/if}}
            {{#if form_subtitle}}
            <h3>{{form_subtitle}}</h3>
            {{/if}}
        </div><!--/title-->
        {{{gform}}}
        {{#if form_footer}}
        <footer>
            <div class="text">
                {{form_footer}}
            </div>
        </footer>
        {{/if}}
    </div>
{{/if}}