{{#if menu}}
    {{#with menu}}
    <div class="menu molecule">
        <div class="nav">
            <ul>
                {{#each links}}
                <li class="{{#if parent}}has-submenu{{/if}}">
                    {{> atoms/menu-item}}
                    {{#if parent}}
                    <ul class="submenu">
                        {{#each child_menu}}
                        <li class="{{#if parent}}has-submenu{{/if}}">
                            {{> atoms/menu-item}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/with}}
{{/if}}
