<div class="text molecule">
    <div class="title">
        <header>
            {{#if title}}
            <h2>{{title}}</h2>
            {{/if}}
            {{#if subtitle}}
            <h3>{{subtitle}}</h3>
            {{/if}}
        </header>
    </div>
    {{#if description}}
    <div class="body">
        {{{description}}}
    </div>
    {{/if}}
    {{#unless content-columns-3}}
    {{#unless content-columns-4}}
    {{#unless thumbnail-grid}}
    {{> atoms/button}}
    {{/unless}}
    {{/unless}}
    {{/unless}}
</div><!--/text-->