<div class="organism accordion" id="{{id}}">
    <section>
        <div class="container">
            {{#each item}}
                <div class="item">
                    {{> molecules/text}}
                </div>
            {{/each}}
        </div><!--/container -->
    </section>
</div><!--/accordion-->