<div class="organism basic-content-block" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
        </div><!--/container -->
    </section>
</div><!--/accordion-->