<div class="organism brand-window" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/image}}
            <div class="text">
                {{#if title}}
                    <div class="title">
                        <h1>{{title}}</h1>
                    </div>
                {{/if}}
                {{#if subtitle}}
                    <div class="subtitle">
                        <h2>{{subtitle}}</h2>
                    </div>
                {{/if}}
                {{> atoms/button}}
            </div>
        </div><!--/container -->
    </section>
</div><!--/brand-window-->