<div class="organism brand-window-slider" id="{{id}}">
    <section>
        <div class="container">
            <div class="slider">
                <ul class="slides">
                    {{#each item}}
                        {{> molecules/slide}}
                    {{/each}}
                </ul>
            </div>
        </div><!--/container -->
    </section>
</div><!--/brand-window-slider-->