<div class="organism brand-window-slider" id="{{id}}">
    <section>
        <div class="slider">
            <ul class="slides">
                {{#each item}}
                    {{> molecules/slide}}
                {{/each}}
            </ul>
        </div>
    </section>
</div><!--/brand-window-slider-->