<div class="organism brand-window" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/image}}
            <div class="text">
                {{#if title}}
                <div class="title">
                    <h1>{{title}}</h1>
                    {{#if subtitle}}
                    <h2>{{subtitle}}</h2>
                    {{/if}}
                </div>
                {{/if}}
                {{> atoms/button}}
            </div><!--/text-->
        </div><!--/container-->
    </section>
</div><!--/brand-window-->