<div class="organism carousel-4-up" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="carousel">
                {{#each item}}
                    <div class="item">
                        {{> molecules/image}}
                        <div class="text">
                            <div class="title">
                                <h5>{{title}}</h5>
                            </div>
                            <div class="body">
                                {{{description}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div><!--/carousel -->
        </div><!--/container-->
    </section>
</div><!--/carousel-4-up-->