<div class="organism content-grid-w-thumbnails-2" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="grid">
                {{#each item}}
                    {{> molecules/card}}
                {{/each}}
            </div>
        </div><!--/container -->
    </section>
</div><!--/content-grid-thumbnails-2-->