<div class="organism content-grid-w-thumbnails-2" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            {{#each item}}
                <div class="item">
                    <div class="title">
                        <h3>{{title}}</h3>
                        {{#if subtitle}}
                            <h4>{{subtitle}}</h4>
                        {{/if}}
                    </div>
                    <div class="body">
                        {{{description}}}
                    </div>
                </div>
            {{/each}}
        </div><!--/container -->
    </section>
</div><!--/content-grid-thumbnails-2-->