<div class="organism content-columns-4" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="items">
                {{#each item}}
                    <div class="item">
                        {{> molecules/image}}
                        <div class="text">
                            {{#if title}}
                                <div class="title">
                                    <h5>{{title}}</h5>
                                </div>
                            {{/if}}
                            {{#if description}}
                                <div class="body">
                                    {{{description}}}
                                </div>
                            {{/if}}
                            {{> atoms/button}}
                        </div>
                    </div><!--/item-->
                {{/each}}
            </div><!--/items-->
            {{> atoms/button}}
        </div><!--/container-->
    </section>
</div><!--/content-columns-4-->