{{#if footer}}
    {{#with footer}}
    <div class="organism footer" id="footer">
        <div class="container">
            <p>&copy; {{year}} Bokka Group</p>
            {{> molecules/menu}}
        </div><!--/container-->
    </div><!--/footer-->
    {{/with}}
{{/if}}
