{{#if header}}
    {{#with header}}
    <div class="organism header" id="header">
        <div class="container">
            <div class="brand">
                <figure>
                    <a href="/"><img src="{{logo}}" alt=" "></a>
                </figure>
            </div>
            <a href="#" class="menu-toggle"><i class="fa fa-bars"></i><span>Menu</span></a>
            {{> molecules/menu}}
        </div><!--/container-->
    </div><!--/header-->
    {{/with}}
{{/if}}
