<div class="organism icon-grid" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="grid">
                {{#each item}}
                <div class="item">
                    {{> atoms/fa-icon}}
                </div>
                {{/each}}
            </div>
        </div><!--/container -->
    </section>
</div><!--/icon-grid-->