<div class="organism icon-grid" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <ul>
                {{#each gallery}}
                <li>
                    <span class="icon">
                        <img src="{{this.url}}" alt=" ">
                    </span>
                </li>
                {{/each}}
            </ul>
        </div><!--/container -->
    </section>
</div><!--/icon-grid-->