<div class="organism image-grid-w-overlay-content" id="{{id}}">
    <section>
        <div class="grid">
            {{#each item}}
                <div class="item" {{#if background_image}}style="background-image:url('{{background_image.src}}');"{{/if}}>
                    {{#if link}}
                    <a href="{{link}}">
                    {{/if}}
                        {{> molecules/image}}
                        <div class="content">
                            {{> molecules/text}}
                        </div>
                    {{#if link}}
                    </a>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </section>
</div><!--/image-grid-w-overlay-content-->