<div class="organism image-grid-w-overlay-content" id="{{id}}">
    <section>
        <div class="container">
            <div class="grid">
                {{#each item}}
                    {{#if item_link}}
                    <a href="{{url}}" target="_blank">
                    {{/if}}
                        <div class="item" {{#if background_image}}style="background-image:url('{{background_image.src}}');"{{/if}}>
                            {{> molecules/image}}
                            <div class="content">
                                {{> molecules/text}}
                            </div>
                        </div>
                    {{#if item_link}}
                    </a>
                    {{/if}}
                {{/each}}
            </div>
        </div><!--/container -->
    </section>
</div><!--/image-grid-w-overlay-content-->