<div class="organism slider-gallery" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            {{> molecules/photo-gallery}}
        </div><!--/container -->
    </section>
</div><!--/slider-gallery-->