<div class="organism tabbed-content" id="{{id}}">
    <section>
        <div class="container">
            {{#if tabs}}
            <div class="tab-wrapper">
                {{#with tabs}}
                <ul>
                    {{#each tabs}}
                    <li>
                        <a href="{{slug}}">{{label}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{#each items}}
                <div id="{{id}}">
                    {{> molecules/text}}
                </div>
                {{/each}}
                {{/with}}
            </div>
            {{/if}}
        </div><!--/container -->
    </section>
</div><!--/cta-w-multimedia-->