<div class="organism text-w-background-image" id="{{id}}" style="background-image:url('{{image}}');">
    <section>
        <div class="container">
            <div class="text">
                <div class="">
                <div class="body">
                    {{{description}}}
                    {{> atoms/button}}
                </div>
            </div>
        </div>
    </section>
</div><!--/text-w-background-image-->
