<div class="organism text-w-background-image" id="{{id}}" {{#if background_image}}style="background-image:url('{{background_image.src}}');"{{/if}}>
    <section>
        <div class="container">
            {{> molecules/text}}
            {{> atoms/button}}
        </div>
    </section>
</div><!--/text-w-background-image-->
