<div id="{{id}}" class="organism text-w-background-image" style="background-image:url('{{image}}');">
    <section>
        <div class="container">
            <div class="body">
                {{{description}}}
            </div>
        </div>
    </section>
</div><!--/text-w-background-image-->
