<div class="organism text-w-background-image" id="{{id}}" style="background-image:url('{{image}}');">
    <section>
        <div class="container">
            {{> molecules/text}}
            {{> atoms/button}}
        </div>
    </section>
</div><!--/text-w-background-image-->
