<div class="organism thumbnail-grid" id="{{id}}">
    <div class="container">
        {{> molecules/text}}
        {{#each item}}
        <div class="item">
            <img src="{{image}}">
        </div>
        {{/each}}
    </div><!--/container-->
</div><!--/thumbnail-grid-->
