<div class="organism thumbnail-grid" id="{{id}}">
    <div class="container">
        {{> molecules/text}}
        <div class="thumbnails">
            {{#each gallery}}
            <div class="item">
                {{> molecules/image}}
            </div>
            {{/each}}
        </div>
    </div><!--/container-->
</div><!--/thumbnail-grid-->
