<div class="organism thumbnail-grid" id="{{id}}">
    <div class="container">
        {{> molecules/text}}
        <div class="grid">
            {{#each gallery}}
            <div class="item">
                <a href="{{image.sizes.large}}" class="modal" rel="gallery">
                    {{> molecules/image}}
                </a>
            </div>
            {{/each}}
        </div>
        {{> atoms/button}}
    </div><!--/container-->
</div><!--/thumbnail-grid-->
