<div class="organism video" id="{{id}}">
    <section>
        <div class="container">
            {{> molecules/text}}
            <div class="embed-container">
                {{{video_embed_code}}}
            </div>
        </div><!--/container-->
    </section>
</div><!--/video-->