<div class="info-window">
    <a href="#" class="infowindow-close"><i class="fa fa-times"></i></a>
    <div class="contents">
        <h5 class="h4">{{title}}</h5>
        {{#if subtitle}}
            <p>{{{subtitle}}}</p>
        {{/if}}
    </div>
</div>
