.organism.cards {
    padding: 3rem 0;
    text-align: center;

    @mixin tablet {
        padding: 8rem 0;
    }

    .card {
        margin-bottom: 3rem;

        @mixin tablet {
            lost-column: 1/2 0;
        }
    }
}
