.organism.carousel-4-up {
    padding: 3rem 2rem;
    text-align: center;

    @mixin tablet {
        padding: 5rem 0;
    }

    .carousel {
        margin: 3rem 0 0;

        @mixin tablet {
            lost-center: 100%;
        }
    }

    .slick-list {
        @mixin tablet {
            margin: 0 -15px;
        }
    }

    .card {
        @mixin tablet {
            lost-column: 1/4 0 15px;
        }
    }

    .slick-slide {
        @mixin tablet {
            margin: 0 15px;
        }
    }
}
