.organism.carousel-4-up {
    padding: 3rem 2rem;
    text-align: center;

    @mixin tablet {
        padding: 5rem 0;

        .card {
            lost-column: 1/4 0 15px;
        }

        .slick-prev {
            left: -200px;
        }

        .slick-next {
            right: -200px;
        }
    }

    .carousel {
        lost-center: 100%;
    }

    .slick-list {
        margin: 0 -15px;
    }

    .slick-slide {
        margin: 0 15px;
    }
}
