.organism.content-grid-w-thumbnails-2 {
    padding: 3rem 2rem;
    text-align: center;

    @mixin tablet {
        padding: 5rem 0;
    }

    .container {
        flex-direction: column;
    }

    .grid {
        lost-center: 100%;
        margin: 3rem 0 0;
    }

    .card {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;

        @mixin tablet {
            @mixin column 1, 2, 2;
        }

        .image {
            @mixin column 1, 4;
        }

        .text {
            @mixin column 3, 4;

            text-align: left;

            h3 {
                margin: 0;
            }
        }
    }
}
