.organism.content-columns {
    padding: 3rem 0;
    text-align: center;

    @mixin tablet {
        padding: 8rem 0;
    }

    .container {
        flex-direction: column;
    }

    .items {
        lost-center: 100%;
        margin: 3rem 0 0;
    }

    .card {
        margin: 0 2rem 6rem;
        position: relative;

        @mixin tablet {
            .image {
                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}
