.organism.conversion-point-w-modal-form {
    padding: 3rem 0;

    @mixin tablet {
        padding: 8rem 0;
    }

    .text {
        width: 100%;

        @mixin tablet {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .title {
        margin: 0 6rem;
    }
}
