.organism.cta-w-multimedia {
    padding: 3rem 0;

    @mixin tablet {
        padding: 8rem 0;
    }

    .container {
        flex-direction: column;

        @mixin tablet {
            flex-direction: row;
        }
    }

    .text {
        margin-bottom: 3rem;

        @mixin tablet {
            lost-column: 1/2;
            margin-bottom: 0;
        }
    }

    .map-embed,
    .video-embed,
    .photo-gallery {
        @mixin tablet {
            lost-column: 1/2;
        }
    }
}
