.organism.icon-grid {
    padding: 3rem 0;
    text-align: center;

    @mixin tablet {
        padding: 8rem 0;
    }

    .container {
        flex-direction: column;
    }

    .grid {
        margin: 3rem 0;
        width: 100%;

        @mixin tablet {
            lost-center: 100%;
        }
    }

    .item {
        @mixin tablet {
            lost-column: 1/4 4;
        }
    }

    .icon {
        font-size: 6rem;
    }
}
