.organism.map-w-locations {
    padding: 3rem 0;
    text-align: center;

    @mixin tablet {
        padding: 8rem 0;
    }

    .container {
        display: block;
    }

    .text {
        margin: 0 0 3rem;
    }

    .map-wrap {
        background: rgba(0, 0, 0, 0.3);
        margin: 3rem auto;
        padding: 0 0 75%;
        position: relative;
        width: 100%;

        @mixin tablet {
            margin: 5rem auto;
            padding: 0 0 65%;
        }
    }

    .google-map-wrapper {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .google-map {
        height: 100%;
        width: 100%;

        .map-marker-label {
            color: blue;
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
        }
    }

    .infoBox {
        > img {
            display: none;
        }
    }

    .info-window {
        background: $white;
        bottom: 60px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;

        &::after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
            content: '';
            height: 0;
            left: 50%;
            margin: 0 0 0 -10px;
            position: absolute;
            top: 100%;
            width: 0;
            z-index: 1;
        }

        .contents {
            min-width: 20rem;
            padding: 1.5rem;

            @mixin desktop {
                padding: 2rem;
            }

            h5 {
                margin: 0;
            }

            p {
                font-family: $serif;
                margin: 0.5em 0 0;
            }
        }
    }

    .infowindow-close {
        background: $black;
        border-radius: 50%;
        border: 2px solid $white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        color: $white;
        font-size: 1.5rem;
        height: 2.3rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
        width: 2.3rem;
    }
}
