/* Global slider styles */
.slick-slider {
    @mixin list-reset;

    position: relative;

    .slick-arrow {
        margin-top: -18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-dots {
        @mixin list-reset;

        margin: 2rem auto;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 5px;

            button {
                background-color: $white;
                border: 3px solid $gray;
                color: $gray;
            }
        }

        .slick-active button {
            background-color: $gray;
            color: $white;
        }
    }
}
