.organism.thumbnail-grid {
    padding: 3rem 0;

    @mixin tablet {
        padding: 8rem 0;
    }

    .item {
        margin: 0 0 3rem;

        @mixin tablet {
            @mixin column 1, 3;
        }
    }
}
