.organism.video {
    padding: 3rem 0;
    text-align: center;

    @mixin tablet {
        padding: 8rem 0;
    }

    .container {
        flex-direction: column;
    }

    .video-embed {
        margin: 3rem 0 0;
        width: 100%;
    }
}
