/* ----------------------------------------------------------
GRID
----------------------------------------------------------- */
@lost flexbox flex;
@lost gutter 30px;

.container {
    lost-center: 100% 15px;

    @mixin tablet {
        lost-center: 740px 15px;
    }

    @mixin desktop {
        lost-center: 960px 15px;
    }

    @mixin desktop-large {
        lost-center: 1160px 15px;
    }
}
