/* ----------------------------------------------------------
GRID
----------------------------------------------------------- */
@lost flexbox flex;
@lost gutter 30px;

.container {
    lost-center: 100% 15px;

    @mixin tablet {
        lost-center: 740px 15px;
    }

    @mixin desktop {
        lost-center: 960px 15px;
    }

    @mixin desktop-large {
        lost-center: 1160px 15px;
    }
}

.organism {
    &.col-2 {
        .card,
        .item {
            @mixin tablet {
                lost-column: 1/2 2;
                margin: 0 0 6rem;
            }
        }
    }

    &.col-3 {
        .card,
        .item {
            @mixin tablet {
                lost-column: 1/3 3;
                margin: 0 0 6rem;
            }
        }
    }

    &.col-4 {
        .card,
        .item {
            @mixin tablet {
                lost-column: 1/4 4;
                margin: 0 0 6rem;
            }
        }
    }
}
