/* ----------------------------------------------------------
LOST GRID MIXINS
----------------------------------------------------------- */
@define-mixin column $numerator, $denominator, $cycle: '', $gutter: '' {
    lost-column: $(numerator)/$(denominator) $(cycle) $(gutter);
}

@define-mixin cycle $number {
    lost-column-cycle: $(number);
}

@define-mixin row $numerator, $denominator {
    lost-row: $(numerator)/$(denominator);
}

@define-mixin clear {
    clear: both;
    lost-utility: clearfix;

    &::before,
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}

@define-mixin offset $numerator, $denominator, $direction {
    lost-offset: $(numerator)/$(denominator) $(direction);
}

@define-mixin container {
    lost-center: 100%;

    @mixin tablet {
        lost-center: 740px;
    }

    @mixin desktop {
        lost-center: 960px;
    }

    @mixin desktop-large {
        lost-center: 1160px;
    }
}

/* ----------------------------------------------------------
BREAKPOINT MIXINS
----------------------------------------------------------- */

@define-mixin desktop-large $type: min {
    @media ($(type)-width: $desktop-large) {
        @mixin-content;
    }
}

@define-mixin desktop $type: min {
    @media ($(type)-width: $(desktop)) {
        @mixin-content;
    }
}

@define-mixin tablet $type: min {
    @media ($(type)-width: $(tablet)) {
        @mixin-content;
    }
}

html,
body {
    &::before {
        content: 'mobile';
        display: none;

        @mixin tablet {
            content: 'tablet';
        }

        @mixin desktop {
            content: 'desktop';
        }
    }
}

/* ----------------------------------------------------------
STYLE MIXINS
----------------------------------------------------------- */
@define-mixin input {
    appearance: none;
    border: 1px solid $gray;
    padding: 1rem 1.2rem;
    width: 100%;
}

/* ----------------------------------------------------------
UTILITY MIXINS
----------------------------------------------------------- */

@define-mixin text-hide {
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

@define-mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
