/* ----------------------------------------------------------
COLORS
----------------------------------------------------------- */
$white: #fff;
$black: #000;
$gray: #777;
$blue: #2980b9;

/* ----------------------------------------------------------
BREAKPOINTS
----------------------------------------------------------- */
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

/* ----------------------------------------------------------
FUNCTIONAL VARIABLES
----------------------------------------------------------- */
$link: $blue;

/* ----------------------------------------------------------
FONTS
----------------------------------------------------------- */

$serif: 'Source Serif Pro', 'Merriweather', Georgia, 'Times New Roman', serif;
$sans-serif: 'Muli', Helvetica, Arial, sans-serif;

/* ----------------------------------------------------------
TRANSITIONS
----------------------------------------------------------- */
$transition-default: 0.3s ease;
