/* ----------------------------------------------------------
COLORS
----------------------------------------------------------- */
$white: #fff;
$black: #000;
$gray: #777;

/* ----------------------------------------------------------
BREAKPOINTS
----------------------------------------------------------- */
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

/* ----------------------------------------------------------
FONTS
----------------------------------------------------------- */

$serif: 'Merriweather', Georgia, 'Times New Roman', serif;
$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;

/* ----------------------------------------------------------
TRANSITIONS
----------------------------------------------------------- */
$transition-default: 0.3s ease;
