/*-------------------
------ Grid -------
-------------------*/
@lost flexbox flex;
@lost gutter 30px;

.container {
    lost-center:100%;

@mixin tablet {
    lost-center:740px;
}
@mixin desktop {
    lost-center:960px;
}
@mixin desktop-large {
    lost-center:1160px;
}
}