{{#if button}}
    <div class="button atom">
        <a href="{{link}}"
            title="{{#if button_text}}{{button_text}}{{/if}}"
            class="link">
            {{button_text}}
        </a>
    </div>
{{/if}}