button,
.button {
    appearance: none;
    background: $gray;
    border: none;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.8em 1.3em 0.7em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-default, background-color $transition-default, opacity $transition-default;
}
