.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 0 56.25%;
    position: relative;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
